<a href="https://colab.research.google.com/github/Jenarth/Group2_FinalProject/blob/master/First%20Look.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Metrolinx Data Analysis ("First Look")

## Import Libraries

In [0]:
import pandas as pd

## Read Data Files

In [9]:
# Load data from Excel file into Pandas DataFrame:
path = '/content/drive/My Drive/Colab Notebooks/3250 Data Science/Final Project/Group2_FinalProject/GO Train Boardings_2017-2020.xlsx'
        #/content/drive/My Drive/Colab Notebooks/3250 Data Science/Final Project/Group2_FinalProject/GO Train Boardings_2017-2020.xlsx
boardings = pd.read_excel(path, 
                          skiprows=1, # skip blank first row
                          usecols=25, # no data beyond column 25 (26th column)
                          parse_dates=[1]) # dates in column 1 (2nd column)

# List columns:
boardings.info()

ValueError: ignored

In [0]:
# View basic stats:
# !!! Note fractional boarding times!
boardings.describe()

In [0]:
# Determine date range:
# !!! Covers all 1096 days (365*3 + leap day) between 2017-03-01 and 2020-02-29.
boardings.Date.describe()

## Correct/Enhance Data

* Replace NaN with zeros
* Apply a correction factor to handle fractional boardings (due to data alterations at source for confidentiality)
* Convert float columns to integer
* Add daily_total column for sum of hourly columns
* Add year_month and week columns to facilitate data aggregation

### Replace NaN with zeros

In [0]:
# Replace NaNs with zeros:
boardings.fillna(value=0, inplace=True)
boardings.head()

In [0]:
# Print out all column names (as input to creating a named list):
boardings.columns

In [0]:
# Create a named list of just the hourly columns:
time_column_list = ['12AM', '1AM', '2AM', '3AM', '4AM', '5AM', '6AM',
       '7AM', '8AM', '9AM', '10AM', '11AM', '12PM', '1PM', '2PM', '3PM', '4PM',
       '5PM', '6PM', '7PM', '8PM', '9PM', '10PM', '11PM']

In [0]:
# Confirm list has all hourly colums:
print(len(time_column_list),'columns:')
boardings[time_column_list].head()

### Apply a correction factor to handle fractional boardings

In [0]:
# Apply corrective factor to shift all values (manipulated at source for confidentiality) to whole numbers:
boardings[time_column_list]=boardings[time_column_list]/.135
boardings.head()

### Convert float columns to integer

In [0]:
# Convert float columns to int (boardings can't be fractional):
boardings[time_column_list] = boardings[time_column_list].astype(int)
boardings.head()

In [0]:
boardings.groupby(['Date']).mean().plot()

### Add daily_total column for sum of hourly columns

In [0]:
#Add new column for daily totals:
boardings['daily_total'] = boardings[time_column_list].agg('sum', axis='columns')
boardings.head()

In [0]:
boardings[['Date', 'daily_total']].groupby(by='Date').sum().plot()

In [0]:
boardings.head(25)

### Add year_month and week columns to facilitate data aggregation

In [0]:
# Preview monthly periods:
boardings['Date'].dt.to_period('M').head()

In [0]:
# Add a year-month column for monthly summaries:
boardings['year_month'] = boardings['Date'].dt.to_period('M')
boardings.head()

In [0]:
# Preview weekly periods:
boardings['Date'].dt.to_period('W').head()

In [0]:
# Add a week column for monthly summaries:
boardings['week'] = boardings['Date'].dt.to_period('W')
boardings.head()

## Visualizations

### Monthly Totals and Averages

In [0]:
boardings[['year_month', 'daily_total']].groupby(['year_month']).mean().plot(title='Boarding Trends: Monthly Average')

In [0]:
boardings[['year_month', 'daily_total']].groupby(['year_month']).sum().plot(title='Boarding Trends: Monthly Total')

### Weekly Totals and Averages

In [0]:
boardings[['week', 'daily_total']].groupby(['week']).sum().plot(title='Boarding Trends: Weekly Total')

In [0]:
boardings[['week', 'daily_total']].groupby(['week']).mean().plot(title='Boarding Trends: Weekly Average')